[client]
socket                                      = /var/run/mysql/mysqld.sock
 
[mysqld]
socket                                      = /var/run/mysql/mysqld.sock
pid-file                                    = /var/run/mysql/mysqld.pid
user                                        = mysql
basedir                                     = /usr
datadir                                     = /var/lib/mysql
tmpdir                                      = /var/lib/mysql-tmp
sql-mode				    = ''
sysdate-is-now                              = 0
transaction-isolation                       = REPEATABLE-READ
default-storage-engine                      = InnoDB
event-scheduler                             = OFF
performance_schema                          = 0
collation-server                            = utf8_general_ci
character-set-server                        = utf8
 
### Percona specific general options
expand_fast_index_creation                  = OFF
userstat                                    = OFF
thread_statistics                           = OFF
 
### Connectivity options
port                                        = 3306
max_user_connections                        = 400
secure-auth                                 = ON
back_log                                    = 2048
skip-name-resolve                           = 0
max_connect_errors                          = 1000000
read_only                                   = OFF
bind-address                                = ::
max_allowed_packet                          = 16777216
wait_timeout                                = 14400
max_connections                             = 500
thread_cache_size                           = 64
net_write_timeout                           = 60
net_read_timeout                            = 30
safe-user-create                            = 1
interactive_timeout                         = 14400
 
### General caches
key_buffer_size                             = 16777216
query_cache_size                            = 0
tmp_table_size                              = 16777216
max_heap_table_size                         = 16777216
table_open_cache                            = 8192
query_cache_type                            = 0
 
### InnoDB options
innodb_buffer_pool_size                     = 512M
innodb_open_files                           = 1024
innodb_flush_method                         = O_DIRECT
innodb_log_file_size                        = 64M
innodb_read_io_threads                      = 4
innodb_file_format                          = Barracuda
innodb_old_blocks_time                      = 1000
innodb_autoinc_lock_mode                    = 2
innodb_io_capacity                          = 200
innodb_log_buffer_size                      = 8M
innodb_stats_on_metadata                    = OFF
innodb_thread_concurrency                   = 0
innodb_support_xa                           = ON
innodb_buffer_pool_instances                = 1
innodb_concurrency_tickets                  = 10000
innodb_write_io_threads                     = 4
innodb                                      = force
innodb_file_per_table                       = ON
innodb_flush_log_at_trx_commit              = 2
 
### Logging options
general_log_file                            = /var/log/mysql/mysql_general.log
log-error                                   = /var/log/mysql/mysql_error.log
slow_query_log_file                         = /var/log/mysql/mysql_slow.log
log-warnings                                = 1
log-queries-not-using-indexes               = ON
long_query_time                             = 2
log-slow-admin-statements                   = 1
log-slow-slave-statements                   = 1
general-log                                 = OFF
slow-query-log                              = ON
 
### Percona specific logging options
log_slow_rate_type                          = session
slow_query_log_use_global_control           = log_slow_filter,log_slow_rate_limit,log_slow_verbosity,long_query_time,min_examined_row_limit
log_slow_sp_statements                      = ON
log_slow_filter                             = ''
log_slow_verbosity                          = microtime,query_plan
log_slow_rate_limit                         = 1
slow_query_log_always_write_time            = 10
 
[mysqld_safe]
log-error                                   = /var/log/mysql/mysql_error.log
