YOUTUBE_APP_NAME="OTUS youtube spider"
YOUTUBE_API_KEY=AIzaSyAQ4_Vq1g-KgfZiuTlEEJk8JNctQklh-NA
YOUTUBE_CHANNEL_URL="https://www.googleapis.com/youtube/v3/channels"
YOUTUBE_SEARCH_URL="https://www.googleapis.com/youtube/v3/search"
YOUTUBE_VIDEO_URL="https://www.googleapis.com/youtube/v3/videos"