MONGO_HOST=mongodb
MONGO_PORT=27017
MONGO_USER=root
MONGO_PASSWORD=example
MONGO_DB=youtube

MYSQL_HOST=mongodb
MYSQL_PORT=27017
MYSQL_USER=root
MYSQL_PASSWORD=example
MYSQL_DB=youtube

QUEUE_HOST=
QUEUE_PORT=
QUEUE_USER=
QUEUE_PASSWORD=