DB_PATH_CONTAINER="patch to container db"

APP_PATH_CONTAINER="patch to containet app"
APP_PATH_HOST="patch to local app"

POSTGRES_USER= "user name db"

POSTGRES_PASSWORD="user pass db"

POSTGRES_DB="name db"

PGADMIN_DEFAULT_EMAIL="email to login"

PGADMIN_DEFAULT_PASSWORD="user pass pg admin"