DB_USER=%DATABASE_USER%
DB_PASSWORD=%DATABASE_PASSWORD%
DB_NAME=%DATABASE_NAME%
DB_PORT=5432
DB_HOST=%DATABASE_HOST%
DB_DRIVER=pgsql

RABBIT_HOST=%RABBITMQ_HOST%
RABBIT_PORT=5672
RABBIT_USER=%RABBITMQ_USER%
RABBIT_PASSWORD=%RABBITMQ_PASSWORD%