# Mongo section
MONGO_INITDB_ROOT_USERNAME=#type username
MONGO_INITDB_ROOT_PASSWORD=#type password
MONGO_INITDB_DATABASE=#type database

# PostgreSQL section
POSTGRES_USER=#type user
POSTGRES_PASSWORD=#type password

# MySQL section
MYSQL_ROOT_PASSWORD=#
