SERVER_UID=1000
SERVER_GID=1000
SERVER_USER=app
SERVER_GROUP=app
SOCKET_DIR=/var/run
SOCKET_FILE=php-fpm.sock

POSTGRES_USER=user
POSTGRES_PASSWORD=user
POSTGRES_DB=php-rabbit
POSTGRES_DB_TEST=php-rabbit-test
DB_HOST=postgres
DB_PORT=5432

SMTP_HOST=mailercatcher
SMTP_PORT=1025
SMTP_USERNAME=
SMTP_PASSWORD=

RABBITMQ_DEFAULT_USER=user
RABBITMQ_DEFAULT_PASS=user
RABBITMQ_DEFAULT_VHOST=/
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672

WORKDIR=/data/localhost
DEV_MODE=true
