
hw-2-2/task_1/vendor/

hw-2-2/task_1/composer.lock

hw-2-2/task_2/docker/sock1/

hw-2-2/task_2/docker/sock2/

hw-2-2/task_2/docker/sock3/

hw-2-2/task_2/docker/nginx_balancer/log/

hw-2-2/task_2/docker/nginx/log1/

hw-2-2/task_2/docker/nginx/log2/

hw-2-2/task_2/docker/nginx/log3/
