# Environment
.env
# Custom config files
config/nginx/sites-enabled/*.conf
!config/nginx/sites-enabled/*.local.conf
*.override.conf
*.override.ini
# composer vendor dir
vendor/
# windows thumbnail cache
Thumbs.db
# phpstorm project files
.idea/
# Mac DS_Store Files
.DS_Store
socks/*.*
!socks/.gitkeep
# Override docker
docker-compose.override.yml
