version: '3'

services:
    nginx:
        container_name: otus-php-nginx
        build:
            context: ./docker
            dockerfile: nginx.docker
        ports:
            - 8081:80
        volumes:
            - ./:/var/www

    php:
        container_name: otus-php-php
        build:
            context: ./docker
            dockerfile: php.docker
        volumes:
            - ./:/var/www
        environment:
            XDEBUG_CONFIG: "remote_host=host.docker.internal remote_enable=1"
            PHP_IDE_CONFIG: "serverName=Docker"
