version: "3"

services:
  webserver:
    build:
      args:
        UID: ${SERVER_UID}
        USER: ${SERVER_USER}
        GID: ${SERVER_GID}
        GROUP: ${SERVER_GROUP}
      context: docker/nginx
    image: atimofeev/webserer-mysite
    working_dir: ${WORKDIR}
    ports:
    - 80:80
    - 443:443
    volumes:
    - ./code:${WORKDIR}
    - ./sock:${SOCKET_DIR}

  app:
    build:
      args:
        UID: ${SERVER_UID}
        USER: ${SERVER_USER}
        GID: ${SERVER_GID}
        GROUP: ${SERVER_GROUP}
      context: docker/fpm
    image: atimofeev/php-fpm-mysite
    working_dir: ${WORKDIR}
    volumes:
    - ./code:${WORKDIR}
    - ./sock:${SOCKET_DIR}



