version: '3.3'

services:

  nginx:
    image: nginx:1.15
    ports:
      - '6060:80'
    depends_on:
      - app
    networks:
      - shared
    volumes:
      - ./otus/www:/var/www
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf

  app:
    build: ./otus
    ports:
      - '9000:9000'
    container_name: app
    networks:
      - shared
    volumes:
      - ./otus/www:/var/www

  db:
    image: postgres
    container_name: db
    ports:
      - 3306:5432
    restart: unless-stopped
    tty: true
    environment:
      POSTGRES_DATABASE: otus
      POSTGRES_ROOT_PASSWORD: root_secret
      POSTGRES_USER: otus
      POSTGRES_PASSWORD: otus
    networks:
      - shared
    volumes:
      - ./dbdata:/var/lib/postgresql/data
      - ./migrations/:/migrations

networks:
  shared:
    driver: bridge

volumes:
  dbdata:
    driver: local
