MONGODB_DSN          =   ""
MONGODB_USER         =   ""
MONGODB_DATABASE     =   ""
MONGODB_COLLECTION   =   ""

RABBITHQ_HOST        =   ""
RABBITHQ_PORT        =   0 
RABBITHQ_USER        =   ""
RABBITHQ_PASSWORD    =   ""
RABBITHQ_QUEUE       =   ""
