QUEUE_HOST = mysite-rabbitmq
QUEUE_PORT = 5672
QUEUE_USERNAME = user
QUEUE_PASSWORD = password

DB_DRIVER = pgsql
DB_HOST = mysite-postgres
DB_PORT = 5432
DB_NAME = requests
DB_USERNAME = otus
DB_PASSWORD = otus