# 'dev' or 'prod'
environment=dev
# 'mongodb' or 'redis' or 'postgres'
storage=postgres
postgres_user=postgres
postgres_password=password
postgres_db=postgres
postgres_host=postgresql-hw12-t1
postgres_port=5432

