<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Домашняя работа #17 PHP и базы данных</title>
    <link type="text/css" rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<h1>Домашняя работа #17 PHP и базы данных</h1>

<div class="">
    <a href="/films" target="_blank">/films</a>
</div>
<div class="">
    <a href="/films/getById?id=1" target="_blank">/films/getById?id=1</a>
</div>
<div class="">
    <a href="/films/findByGenre?genre=1" target="_blank">/films/getByGenre?genre=1</a>
</div>

</body>
</html>