upstream servers {
    server php-fpm-1:9000;
    server php-fpm-2:9001;
    server php-fpm-3:9002;
}

server {

    root /var/www/hw-otus/public;
    index index.php;

    listen  80;

    location / {
        try_files $uri $uri/ /index.php$is_args$args;
    }

    # Server PHP config
    location ~ \.php {
        fastcgi_pass	servers;
        include 		fastcgi_params;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_param PATH_INFO $fastcgi_path_info;
        try_files $uri =404;
        fastcgi_index	index.php;
    }
}