COMPOSE_PROJECT_NAME=OTUS_COURSE
NGINX_HTTP_PORT=80

DB_PASSWORD=''
DB_USER=''
DB_NAME=''
DB_PORT=''
DB_DRIVER=pgsql

RABBIT_HOST=rabbit
RABBIT_UI_PORT=1783
RABBIT_PORT=5671
RABBIT_USER=rabbit
RABBIT_PASSWORD=rabbit

SOCKET_PATH=/var/www/tmp/task.sock
SOCKET_PORT=9876