### environment ################
TIMEZONE=Europe/Moscow

### sites ######################
SITES_ENABLED_PATH=./nginx/hosts

### IDE ########################
PHP_IDE_CONFIG=serverName=Docker

### code #######################
PHP_VERSION=8.0
APP_CODE_PATH_HOST=./code
APP_CODE_PATH_DOCKER=/var/www/html
PHP_ERROR_LOG_PATH=./log/php_errors/

### x-debug ####################
X_DEBUG=1
X_DEBUG_ERROR_LOG_PATH=./log/x-debug/

### memprof ####################
### только MEMPROF_PROFILE_ENABLE=null отключает Memprof,
### для включения использовать любое значение.
### В документации рекомендуют 1
################################
MEMPROF_PROFILE_ENABLE=null
MEMPROF_LOG_PATH_HOST=./log/memprof
MEMPROF_LOG_PATH_DOCKER=/var/log/memprof/

### unix socket ################
UNIX_SOCKET_PATH_HOST=./storage/docker/sock
UNIX_SOCKET_PATH_DOCKER=/sock

### mysql-Master ###############
MYSQL_MASTER_DB=laravel
MYSQL_MASTER_ROOT_PASSWORD=password
MYSQL_MASTER_STORAGE_PLACE=./storage/docker/mysql1
MYSQL_MASTER_LOG_PATH_HOST=./log/mysql/master
MYSQL_MASTER_LOG_PATH_DOCKER=/var/log/mysql/

### mysql-Slave ################
MYSQL_SLAVE_DB=laravel
MYSQL_SLAVE_ROOT_PASSWORD=password
MYSQL_SLAVE_STORAGE_PLACE=./storage/docker/mysql2
MYSQL_SLAVE_LOG_PATH_HOST=./log/mysql/slave
MYSQL_SLAVE_LOG_PATH_DOCKER=/var/log/mysql/

### postgres ###################
PGSQL_DB_NAME=postgres
PGSQL_DB_USER=postgres
PGSQL_DB_PASSWORD=password
PGSQL_STORAGE_PLACE=./storage/docker/postgres/data

### Redis ######################
REDIS_CONF=./redis/conf/redis/etc
REDIS_DATA=./storage/docker/redis/data
REDIS_LOG=./log/docker/redis/

### Elasticsearch ##############
ELASTICSEARCH_DATA=./storage/docker/elasticsearch/data

