APP_URL=

GOOGLE_APP_NAME=
GOOGLE_API_KEY=

REDIS_HOST=
REDIS_PORT=
REDIS_DATABASE=

POSTGRESQL_HOST=database
POSTGRESQL_PORT=5432
POSTGRESQL_USER=
POSTGRESQL_PASSWORD=
POSTGRESQL_DATABASE=

ELASTICSEARCH_HOST=http://es01:9200