YOUTUBE_API_KEY='your_api_key'
CHANNEL_ID='channel_id'
# Allows: AGGREGATION, COLLECTION
TYPE_STATS='AGGREGATION'
DB_HOST='es:9200'
#DB_HOST='mongodb://mongo:27017'
# Allows: ElasticSearch, MongoDB
DB_SYSTEM='ElasticSearch'