web:
    image: nginx:latest
    ports:
        - "80:80"
    volumes:
        - ./code:/code
        - ./mysite.local.conf:/etc/nginx/conf.d/mysite.local.conf
    links:
        - php
php:
    image: php:7-fpm
    volumes:
        - ./code:/code

db:
    image: mysql:latest
    ports:
        - 3306:3306
    volumes:    
        - ./db:/var/lib/mysql
    environment:
        MYSQL_DATABASE: db_first
        MYSQL_USER: user
        MYSQL_PASSWORD: pass
        MYSQL_ROOT_PASSWORD: root_pass
