<?php


namespace Repetitor202;


class Env
{
    public static function init()
    {
        $_ENV['DB_SERVERNAME'] = 'hw_1_1_db_container';
        $_ENV['DB_USERNAME'] = 'root';
        $_ENV['DB_PASSWORD'] = 'mysql_root_password';
        $_ENV['DB_NAME'] = 'database_name';
    }
}