html,body {
    font-family:"Verdana",sans-serif;
    font-size: 16px;
}
h1,h2,h3,h4,h5,h6 {font-family:"Segoe UI",sans-serif}

.input-string {
    width: 50%;
}

.color-red {
    color: red;
}

.color-green {
    color: green;
}