# название окружения приложения
APPLICATION_ENV=<default: production>

# base url, соотвествующий корневой папке веб приложения
BASE_URL=<default: />

# подключение к БД
DB_LINK=<pdo_driver: mysql>://<db_user: >:<db_pass: >@<db_host: localhost>:<db_port: 3306>/<db_name: test>?<db_params: charset=utf-8>

# подключение к брокеру очереди
AMQP_LINK=amqp://<user: guest>:<pass: guest>@<host: localhost>:<port: 5672>/<queue_name>

# подключение к Redis
REDIS_LINK=redis://docker.for.win.localhost:6379/1

# подключение к API работы с заказами
SELF_API_URL=http://docker.for.win.localhost:9090