# название окружения приложения
APPLICATION_ENV=<default: production>

# base url, соотвествующий корневой папке веб приложения
BASE_URL=<default: />

# подключение к БД
DB_LINK=<pdo_driver: mysql>://<db_user: >:<db_pass: >@<db_host: localhost>:<db_port: 3306>/<db_name: test>?<db_params: charset=utf-8>