#### environment ################
TIMEZONE=Europe/Moscow

#### sites ######################
SITES_ENABLED_PATH=./nginx/hosts

#### IDE ########################
PHP_IDE_CONFIG=serverName=Docker

#### PATH #######################
LOGS=./_logs
STORAGE=./ZoneForSTORAGE
CERTIFICATES=${STORAGE}/certificates
ADDITIONAL_CODE_PATH_HOST=c:/MyWork/School/Otus/HomeWork
ADDITIONAL_SITE_NAME=homework.otus
WORKSPACE_SCRIPTS_PATH_HOST=./workspace/scripts
WORKSPACE_SCRIPTS_PATH_DOCKER=/srv/scripts

#### code #######################
PHP_VERSION=8.0
APP_CODE_PATH_HOST=./code
APP_CODE_PATH_DOCKER=/var/www/html
PHP_ERROR_LOG_PATH=${LOGS}/php_errors/

#### nginx ######################
NGINX_LOG_PATH=${LOGS}/nginx
NGINX_SSL_PATH_DOCKER=/etc/nginx/ssl

#### x-debug ####################
X_DEBUG=1
X_DEBUG_ERROR_LOG_PATH=${LOGS}/x-debug/

#### memprof ####################
### только MEMPROF_PROFILE_ENABLE=null отключает Memprof,
### для включения использовать любое значение.
### В документации рекомендуют использовать 1
#################################
MEMPROF_PROFILE_ENABLE=1
MEMPROF_LOG_PATH_HOST=${LOGS}/memprof
MEMPROF_LOG_PATH_DOCKER=/var/log/memprof/

#### unix socket ################
UNIX_SOCKET_PATH_HOST=${STORAGE}/docker/sock
UNIX_SOCKET_PATH_DOCKER=/sock

#### MemCached ##################
MEMCACHED_CLUSTER=1
MEMCACHED_USE_SESSION=1
