.gitignore
.gitattributes
.idea/
.vscode

/_logs
/ZoneForSTORAGE
/log
/storage
docker-compose.yml
*.env
*.tmp
*.log
*.txt
/code/*
!/code/application.loc
/code/*/vendor
/code/*/node_modules

/nginx/hosts/*
!/nginx/hosts/application.loc.conf
