<?php


namespace Repetitor202;


class Env
{
    public static function init()
    {
        $_ENV['DB_SERVERNAME'] = '192.168.10.11';
        $_ENV['DB_USERNAME'] = 'homestead';
        $_ENV['DB_PASSWORD'] = 'secret';
        $_ENV['DB_NAME'] = 'homestead';
    }
}