[mysqld]

### Connectivity options
port                                        = 3306
max_user_connections                        = 123

### InnoDB options
innodb_buffer_pool_size                     = 768M
innodb_log_file_size                        = 128M
innodb_flush_log_at_trx_commit              = 0