#### path #######################
CONTROLLERS_BASE_PATH=App/Http/Controllers
VIEW_BASE_PATH=resources/Views
APP_LOG_PATH=log/application.log

#### framework ##################
DEFAULT_CONTROLLER_NAME=Default
DEFAULT_CONTROLLER_METHOD=run
DEFAULT_SCRIPT_NAME=index.php
DEFAULT_VIEW_NAME=index

#### mysql ######################
MYSQL_DRIVER=mysql
MYSQLITE_DRIVER=mysqlite

#### mysql-Master ###############
MYSQL_MASTER_HOST=db1
MYSQL_MASTER_PORT=3306
MYSQL_MASTER_DB=laravel
MYSQL_MASTER_USER=root
MYSQL_MASTER_PASSWORD=password

#### mysql-Slave ################
MYSQL_SLAVE_HOST=db2
MYSQL_SLAVE_PORT=3306
MYSQL_SLAVE_DB=laravel
MYSQL_SLAVE_USER=root
MYSQL_SLAVE_PASSWORD=password

#### postgres ###################
PGSQL_DB_HOST=postgres
PGSQL_DB_PORT=5432
PGSQL_DB_NAME=postgres
PGSQL_DB_USER=postgres
PGSQL_DB_PASSWORD=password
PGSQL_DRIVER=pgsql
PGSQL_PG_DRIVER=pg_connect

#### redis #######################
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_TIMEOUT=0
REDIS_RESERVED=as
REDIS_RETRY_INTERVAL=0
REDIS_READ_TIMEOUT=0.0

#### memcached ###################
MEMCACHED_HOST=memcached-1
MEMCACHED_PORT=11211

MEMCACHED_CLUSTER=true
MEMCACHED_1_HOST=memcached-1
MEMCACHED_1_PORT=11211
MEMCACHED_2_HOST=memcached-2
MEMCACHED_2_PORT=11211
MEMCACHED_DRIVER=Memcache

#### elasticsearch ###############
ELASTICSEARCH_HOST=elasticsearch
ELASTICSEARCH_PORT=9200
ELASTICSEARCH_DRIVER=elasticsearch