version: '3'

services:
  web:
    build:
      context: ./
      dockerfile: docker/nginx/Dockerfile
    ports:
      - 8181:80
    depends_on:
      - php
    volumes:
      - ./:/var/www/html
      - ./docker/nginx/dev.mysite.conf:/etc/nginx/conf.d/default.conf

  php:
    container_name: php-container
    build:
      context: ./
      dockerfile: docker/php/Dockerfile
    volumes:
      - ./:/var/www/html
