<phpunit bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="calculator">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">./src/</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-html" target="./logs/coverage"
             lowUpperBound="50" highLowerBound="80"/>
    </logging>
</phpunit>
