YOUTUBE_API_KEY=XxXxXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXxxXXX

SQL_CLIENT='Elasticsearch'
#SQL_CLIENT='MongoDB'

#ELASTIC_SEARCH_HOST=elasticsearch
ELASTIC_SEARCH_HOST=192.168.10.3
ELASTIC_SEARCH_PORT=9200

#MONGODB_HOST=mongo
MONGODB_HOST=192.168.10.5
MONGODB_PORT=27017
DB_NAME=youtube