{# template/layout.twig #}
{% extends 'layout.twig' %}
{% block title %}Результат проверки email "{{ email }}"{% endblock %}
{% block content %}
<p>{{ message }}</p>
<p><a href="/">back</a></p>
{% endblock %}
