{# template/layout.twig #}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Email checker</title>
</head>
<body>
<h1>{% block title %}{% endblock %}</h1>
{% block content %}{% endblock %}
</body>
</html>