MONGO_HOST=mongodb
MONGO_PORT=27017
MONGO_USER=admin
MONGO_PASSWORD=secret
MONGO_DBNAME=db
MONGO_COLLECTION=youtube_channels_stat

GOOGLE_SECRET_PATH=var/client_secret.json
GOOGLE_SCOPES=["https://www.googleapis.com/auth/youtube.readonly"]
GOOGLE_TOKEN_PATH=var/token.json