.idea
docker-compose.yml
.env
/vendor/
/var/cache/dev/*
!/var/cache/.gitkeep
/docker/elastic/data/*
!/docker/elastic/data/.gitkeep

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
